.modal-news-title-textarea {
    width: 100%;
    border: none;
    background: rgba(87,162,131,.15);
    border-radius: 5px;
    outline: none !important;
    box-shadow: none;
    padding: 15px;
    font-size: 14px;
    overflow: hidden;
    resize: none;
    min-height: 150px;
}
.modal-news-body {
    margin: 20px;
}
.modal-news-title {
    margin: 20px;
}
.modal-news-title-input {
    width: 100%;
    border: none;
    background: rgba(87,162,131,.15);
    height: 35px;
    border-radius: 5px;
    outline: none !important;
    box-shadow: none;
    padding: 15px;
    font-size: 14px;
}
.modal-news-images {
    height: 100px;
    background: #fff;
    margin: 20px;
    display: flex;
    gap: 20px;
}
.modal-news-image {
    width: 100%;
    height: 100%;
    background: #e6f1ec no-repeat center;
    background-size: cover;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}
.modal-news-image-remove {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #57a283;
    right: -10px;
    top: -10px;
    border-radius: 30px;
    cursor: pointer;
}
.modal-news-image-remove:before, .modal-news-image-remove:after {
    content: '';
    position: absolute;
    width: 16px;
    height: 5px;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(
        45deg
    );
    border-radius: 10px;
}
.modal-news-image-remove:after {
    transform: translate(-50%,-50%) rotate(
        -45deg
    );
}
.modal-news-image-add {
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #57a283;
    font-weight: bold;
    cursor: pointer;
}
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease;
    overflow: auto;
}
.modal-table {
    background: #57a283;
    padding: 10px 20px 10px 20px;
    color: #fff !important;
    border-radius: 5px;
}
.modal-table-title {
    font-size: 16px;
    font-weight: bold;
}
.modal-table-price {
    font-size: 14px;
}
.modal-calendar {
    border: none;
    background: transparent;
    border-radius: 0;
    width: 100%;
}
.modal-calendar-green {
    border-radius: 5px;
}
.modal-calendar-bg {
    background: rgb(245,245,245);
    border-radius: 5px;
}
.modal-photo, .modal-photo-view {
    min-height: 200px;
    background: rgba(0,0,0,.02) url('/img/logo/cloud-computing.png') no-repeat center;
}

.modal-photo-view > img {
    display: block;
}
.modal-hidden {
    display: none;
}

.modal-wrapper {
    position: relative;
    width: inherit;
    margin: 50px auto 100px auto;
}

.modal-close {
    width: 30px;
    height: 30px;
    background: url(/img/logo/close.svg) no-repeat center;
    background-size: 15px;
    opacity: .5;
    cursor: pointer;
}

.modal-container {
    max-width: 600px;
    border-radius: 5px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,.33);
    transition: all 0.5s ease;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-header {
    border-bottom: 1px solid rgba(22,28,45,.1);
    font-size: 24px;
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;
}

.modal-body {
    margin: 0;
    padding: 0;
}
.modal-inputs {
    display: flex;
    padding: 20px;
    gap: 20px;
    border-bottom: 1px solid rgba(22,28,45,.1);
    position: relative;
}
.modal-inputs:last-child {
    border: none;
}
.modal-input-close {
    position: absolute;
    right: 25px;
    top: 16px;
    background: url(/img/logo/close.svg) no-repeat center;
    background-size: 15px;
    width: 20px;
    height: 20px;
    opacity: .5;
    cursor: pointer;
}
.modal-input {
    width: 50%;
}
.modal-100 {
    width: 50%;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.modal-100 > div {
    width: 100%;
}
.modal-input > div {
    font-size: 16px;
    margin-bottom: 10px;
    color: grey;
}

.modal-input > input {
    background: #f4f4f5;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    height: 35px;
    width: 100%;
    padding: 0 10px 0 10px;
    margin-bottom: 10px;
    outline: none;
}

.modal-input > select {
    background: #f4f4f5;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    height: 35px;
    width: 100%;
    padding: 0 10px 0 10px;
    outline: none;
}

.modal-default-button {
    color: #fff;
    float: right;
    background: #57a283;
    border-radius: 50px;
    border: none;
    height: 35px;
    padding: 0 20px 0 20px;
    outline: none !important;
    font-size: 14px;
}

.modal-additional-button {
    color: #fff;
    float: right;
    background: #FF8008;
    border-radius: 50px;
    border: none;
    height: 35px;
    padding: 0 20px 0 20px;
    outline: none !important;
    font-size: 14px;
    margin-right: 10px !important;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.meter {
    box-sizing: content-box;
    height: 20px;
    position: relative;
    margin: 0 0 0 0;
    background: #e6f1ec;
    border-radius: 25px;
    padding: 10px;
    width: 100%;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}
.meter > span {
    display: block;
    height: 100%;
    border-radius: 20px;
    background-color: rgb(43, 194, 83);
    background-image: linear-gradient(center bottom,rgb(43, 194, 83) 37%,rgb(84, 240, 84) 69%);
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
}
.meter > span:after,
.animate > span > span {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(
        -45deg,
        rgba(255, 255, 255, 0.2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.2) 50%,
        rgba(255, 255, 255, 0.2) 75%,
        transparent 75%,
        transparent
    );
    z-index: 1;
    background-size: 50px 50px;
    animation: move 2s linear infinite;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}

.animate > span:after {
    display: none;
}

@keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}

.orange > span {
    background-image: linear-gradient(#f1a165, #f36d0a);
}

.red > span {
    background-image: linear-gradient(#f0a3a3, #f42323);
}

.nostripes > span > span,
.nostripes > span::after {
    background-image: none;
}

#page-wrap {
    width: 490px;
    margin: 80px auto;
}
h1 {
    font-size: 42px;
    font-weight: 600;
    margin: 0 0 30px;
}
pre {
    background: #000;
    text-align: left;
    padding: 20px;
    margin: 0 auto 30px;
}
* {
    box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
    .modal-table {
        padding: 10px;
    }
    .modal-table-title {
        font-size: 12px;
    }
    .modal-table-price {
        font-size: 11px;
    }
    .modal-mask {

    }
    .modal-wrapper {
        margin: 150px 50px 100px 50px;
        width: auto;
    }
    .modal-header {
        padding: 10px;
        font-size: 14px;
    }
    .modal-close {
        width: 20px;
        height: 20px;
        background-size: 10px;
    }
    .modal-inputs {
        padding: 10px;
        gap: 10px;
        flex-direction: column;
    }
    .modal-input {
        width: 100%;
    }
    .modal-input > div {
        font-size: 12px;
    }
    .modal-input > input {
        height: 30px;
        font-size: 11px;
        border-radius: 3px;
    }
    .modal-input > select {
        font-size: 11px;
        border-radius: 3px;
        height: 30px;
    }
    .modal-default-button, .modal-additional-button {
        height: 25px;
        padding: 0 10px 0 10px;
        font-size: 11px;
    }
    .modal-footer {
        padding: 10px;
    }
    .modal-100 {
        gap: 5px;
        width: 100%;
    }
    .modal-input-close {
        top: 8px;
        right: 10px;
        background-size: 10px;
    }
}
